body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* Profile component */
#profile {
  text-align: center;
  margin-top: 50px;
}
#profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.details {
  margin: 25px 0;
}

#profile button {
  font-size: 12px;
  margin: 20px 0;
}

/* AllProducts and SingleProduct components */
#products-container {
  display: flex;
  justify-content: center;
  columns: 2;
}
.product-in-list {
  width: 400px;
  height: auto;
  margin: 1em;
}
.duck-image {
  width: 10vw;
  height: 10vw;
}
.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ShoppingCart component */
.item-in-cart {
  display: flex;
  flex-direction: row;
  margin: 1em;
  width: 80vw;
  height: 150px;
}
.cart-item-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}
.cart-duck-image {
  width: 150px;
  height: 100%;
}
.right-align {
  display: flex;
  flex-direction: column;
}
#checkout-cart {
  width: 80vw;
  display: flex;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  padding: 2em 2em;
  justify-content: space-between;
}

/* OrderHistory */
.order {
  margin: 1em;
}
.order-history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
