body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* AllProducts and SingleProduct components */
#products-container {
  display: flex;
  justify-content: center;
  columns: 2;
}
.product-in-list {
  width: 400px;
  height: auto;
  margin: 1em;
}
.duck-image {
  width: 10vw;
  height: 10vw;
}
.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ShoppingCart component */
#shopping-cart-container {
  background-color: blanchedalmond;
}
.item-in-cart {
  display: flex;
  flex-direction: row;
  margin: 1em;
  width: 80vw;
  height: 150px;
}
.cart-item-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}
.cart-duck-image {
  width: 150px;
  height: 100%;
}
.right-align {
  display: flex;
  flex-direction: column;
  justify-content: right;
  flex: 1;
}
