body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* Profile component */
#profile {
  text-align: center;
  margin-top: 50px;
}
#profile-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.details {
  margin: 25px 5%;
}

#profile button {
  font-size: 12px;
  margin: 10px 0;
}

/* AllProducts and SingleProduct components */
#products-container {
  display: flex;
  justify-content: center;
  columns: 2;
}
.product-in-list {
  width: 400px;
  height: auto;
  margin: 1em;
}
.duck-image {
  width: 10vw;
  height: 10vw;
}
.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ShoppingCart component */
#shopping-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-in-cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
  width: 90vw;
  height: 80px;
}
.cart-item-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}
.cart-duck-image {
  padding-top: 40px;
  width: 80px;
  height: 40px;
}
.right-align {
  display: flex;
  flex-direction: column;
}

#checkout-cart {
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  padding: 1em;
  justify-content: center;
}

#checkoutBtn {
  margin-top: 20px;
}

/* OrderHistory */
.order {
  margin: 1em;
}
.order-history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (min-width: 1000px) {
  #shopping-cart-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .item-in-cart {
    width: 38%;
  }
}
